		<footer class="fsp-footer">
			<div class="container">
				<div class="row">
					<address class="col-xs-12 col-sm-6 col-md-4">
						<strong>First State Pediatrics | Newark</strong><br>
						210 Christiana Medical Center<br>
						Newark, DE 19702<br>
						<a href="tel:13023682501" class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 302.368.2501</a>
					</address>
					<address class="col-xs-12 col-sm-6 col-md-4">
						<strong>First State Pediatrics | Hockessin</strong><br>
						722 Yorklyn Road, Suite 100<br>
						Hockessin, DE 19707<br>
						<a href="tel:13022351188" class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 302.235.1188</a>
					</address>
					<div class="col-xs-12 text-center">
						<small>&copy; 2016 First State Pediatrics, LLC. All Rights Reserved</small>
					</div>
    		</div>
    	</div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
