		<footer class="fsp-footer">
			<div class="container">
				<div class="row">
					<address class="col-xs-12 col-sm-6 col-md-4">
						<a href="location-newark.html" title="Newark Contact, Hours and Directions"><strong>First State Pediatrics | Newark</strong></a><br>
						210 Christiana Medical Center<br>
						Newark, DE 19702 <a href="https://www.google.com/maps/place/First+State+Pediatrics/@39.676446,-75.6606171,17z" class="map">(<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map)</a><br>
						<a href="tel:13023682501" class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 302.368.2501</a>
					</address>
					<address class="col-xs-12 col-sm-6 col-md-4">
						<a href="location-hockessin.html" title="Hockessin Contact, Hours and Directions"><strong>First State Pediatrics | Hockessin</strong></a><br>
						722 Yorklyn Road, Suite 100<br>
						Hockessin, DE 19707 <a href="https://www.google.com/maps/place/First+State+Pediatrics+-+Hockessin/@39.7896404,-75.6924202,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6ff735494deb9:0x5a177348b20a76a1!8m2!3d39.7896363!4d-75.6902262" class="map">(<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map)</a><br>
						<a href="tel:13022351188" class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 302.235.1188</a>
					</address>
					<div class="col-xs-12 text-center">
						<small>&copy; First State Pediatrics, LLC. All Rights Reserved</small>
					</div>
    		</div>
    	</div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
