    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="First State Pediatrics home">
        		<img alt="First State Pediatrics" src="images/fsp-logo-nolinex2.png">
      		</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Doctors <span class="caret"></span></a>
							<ul class="dropdown-menu">
              	<li><a href="doctors-hockessin.html"{% if page.url == "/doctors-hockessin.html" %} class="active"{% endif %} title="Hockessin Doctors">Hockessin</a></li>
								<li><a href="doctors-newark.html"{% if page.url == "/doctors-newark.html" %} class="active"{% endif %} title="Newark Doctors">Newark</a></li>
							</ul>
						</li>

						<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
              <ul class="dropdown-menu">
              	<li><a href="location-hockessin.html"{% if page.url == "/location-hockessin.html" %} class="active"{% endif %} title="Hockessin Contact, Hours and Directions">Hockessin</a></li>
								<li><a href="location-newark.html"{% if page.url == "/location-newark.html" %} class="active"{% endif %} title="Newark Contact, Hours and Directions">Newark</a></li>
							</ul>
						</li>
						<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information <span class="hidden-sm">For Parents </span><span class="caret"></span></a>
              <ul class="dropdown-menu">
								<li><a href="info-insurance.html"{% if page.url == "/info-insurance.html" %} class="active"{% endif %} title="Insurance Information">Insurance Information</a></li>
              	<li><a href="info-forms.html"{% if page.url == "/info-forms.html" %} class="active"{% endif %} title="Forms"><strong>Forms</strong></a></li>
								<li><a href="info-vaccine-policy.html"{% if page.url == "/info-vaccine-policy.html" %} class="active"{% endif %} title="Vaccine Policy">Vaccine Policy</a></li>
              	<li><a href="info-visitschedule.html"{% if page.url == "/info-visitschedule.html" %} class="active"{% endif %} title="Well Infant/Child Visit Schedule">Well Visit Schedule</a></li>
								<li><a href="info-sickvisits.html"{% if page.url == "/info-sickvisits.html" %} class="active"{% endif %} title="Sick Visits and Calls">Sick Visits</a></li>
								<li><a href="afterhours.html"{% if page.url == "/afterhours.html" %} class="active"{% endif %} title="After Hours Emergencies">After Hours</a></li>
								<li><a href="info-refills.html"{% if page.url == "/info-refills.html" %} class="active"{% endif %} title="Prescription Refills">Refills</a></li>
								<li><a href="info-referrals.html"{% if page.url == "/info-referrals.html" %} class="active"{% endif %} title="Referrals">Referrals</a></li>
								<li><a href="info-newparents.html"{% if page.url == "/info-newparents.html" %} class="active"{% endif %} title="New Parents">New Parents</a></li>
								<li><a href="info-poison.html"{% if page.url == "/info-poison.html" %} class="active"{% endif %} title="Poison Control">Poison Control</a></li>
								<li><a href="info-links.html"{% if page.url == "/info/links.html" %} class="active"{% endif %} title="Helpful Websites">Links</a></li>
							</ul>
						</li>
						<li>
							<span class="btn-portal">
								<a href="https://17596.portal.athenahealth.com/" target="_blank" class="btn btn-sm btn-primary">Patient Portal</a>
							</span>
						</li>
						<li>
							<span class="btn-portal">
								<a href="info-telemedicine.html" class="btn btn-sm btn-success">Telemedicine</a>
							</span>
						</li>
					</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
