/* Math Mixins */
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}
/* end of math */
/* calculate the bloomed petal position */
@function bloomx($petalnum) {
	$angle: ((($petalnum  - 1) * 30)) * 1deg;
	@debug $petalnum $angle;
  $x: -25 + 55 + 18 + (43 * cos($angle));
  $xpx: $x * 1px;
  @return $xpx;
}

@function bloomy($petalnum) {
	$angle: ((($petalnum - 1) * 30))  * 1deg; 
  $y: -13+ 56 + 18 - (43 * sin($angle));
  $ypx: $y * 1px;
  @return $ypx;
}
// calculate the rotation
@function petalangle($petalnum){
	$angle: (($petalnum - 1) * 30) * -1deg;
	@return $angle;
}

@mixin bloomedpetal($petalnum){
  left: bloomx($petalnum);
  top: bloomy($petalnum);
	-ms-transform:rotate(petalangle($petalnum));
	-moz-transform:rotate(petalangle($petalnum));
	-webkit-transform:rotate(petalangle($petalnum));
	transform:rotate(petalangle($petalnum));
}

body {
	padding-top: 90px;
	background-image: url("../images/fsp-home-logo-bg.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
}

//navbar scss
.navbar-fixed-top {
	border-width: 0 0 3px 0;
}
nav.navbar {
	font-size: $font-size-large;
	.navbar-brand {
		padding: $navbar-padding-horizontal/4 $navbar-padding-horizontal;
  	> img {
	  	//max-height: $navbar-height - $navbar-padding-horizontal/2;
	  	height: 62px;
	  	margin-right:  $navbar-padding-horizontal;
		}
	}
	.navbar-toggle {
		background-color: #f8f8f8;
	}
}
.navbar-default {
	@media (min-width: $screen-sm-min){
		background-image: url("../images/clouds-illustration-background-export.jpg");
		background-position: bottom center;
	}
	.navbar-header {
		background-image: url("../images/clouds-illustration-background-export.jpg");
		background-position: bottom center;
		@media (min-width: $screen-sm-min){
			background-image: none;
			background-color: transparent;
		}
	}
}

//main content area
#main-content {
	margin-bottom: $grid-gutter-width;
	position: relative;
}

h1.title {
 color: #0178BC;
}
// rounded image class
.img-round{
	border-radius: $border-radius-large;
	border: 3px solid $extra-color-light;
	display: block;
}

.top-jump {
	font-size: 90%;
	float: right;
}
.media {
	.media-left {
		display: block;
		@media (min-width: $screen-sm-min*0.65) {
			display: table-cell;
		}
		padding-bottom: 10px;
		.media-object {
			@extend .img-round;
			display: block;
			margin: 0 auto;
		}
		
	}
}

//staff picture grid
.fsp-staff {
	margin-top: $grid-gutter-width/2;
	.thumbnail {
		> img {
			@extend .img-round;
			height: 120px;
			@media (min-width: $screen-sm-min*.75){
				height: 200px;
			}
		}
		.caption {
			> h5 {
				text-align: center;
				margin: 0;
			}	
		}
	}
}

@media (min-width: $screen-sm-min) {
	a.phone {
		color: #000;
		text-decoration: none;
		span.glyphicon {
			display: none;
		}
	}
}
		
//home adjustments
body.site-home {
	background-image: url("../images/grass_w_hill.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	background-color: #0178BC;
	.navbar-default{
		background-color: #f8f8f8;
		background-image: none;
		.navbar-header{
			background-color: transparent;
			background-image: none;
		}
	}
	h1.page-title {
		@extend .sr-only;
	}
	.announcement {
		@extend .alert;
		@extend .alert-warning;
		background-color:rgba(252, 248, 227, 0.85);
		position: relative;
		z-index: 1025;
	}
	footer {
		position: relative;
		@media (min-height: 340px) {
			position: fixed;
		}
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1020;
		address {
				text-shadow: -1px -1px 0 #ddd,
					1px -1px 0 #ddd,
					-1px 1px 0 #ddd,
					1px 1px 0 #ddd;  
				margin-bottom: 5px;
				@media (min-height: 340px) {
					margin-bottom: 20px;
				}
		}
	}
}

/*
==============================================
blooming
==============================================
*/

.flower{
	position:fixed;
	top:-10%;
	z-index: 999;
	width: 100px;
	height: 60px;
	background-color: transparent;
	background-image: url(../images/snowflake_test.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running;
}


@keyframes bloom {
  0%   { 
  	transform: scale(0);    
  }
  100% { 
  	transform: scale(1);  
  }
}
@keyframes rotate {
  0%   { 
  	transform: scale(0);    
  }
  100% { 
  	transform: scale(1);  
  }
}
@keyframes rotate30 {
  0%   { 
  //cos(45deg)
  //x = cx + r * cos(30)
  //x = 73 + 18 * cos(30);
  	//transform: translate(-4px,31px) scale(0) rotate(30deg);
  	transform: translate(73 + 18 * cos(30),75 + 18 * cos(30)) scale(0) rotate(30deg);    
  }
  100% { 
  	transform: translate(0,0) scale(1) rotate(30deg);  
  }
}

@keyframes rotate60 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(60deg);  
  }
}

@keyframes rotate90 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(90deg);  
  }
}

@keyframes rotate120 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(120deg);  
  }
}

@keyframes rotate150 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(150deg);  
  }
}

@keyframes rotate180 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(180deg);  
  }
}

@keyframes rotate210 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(210deg);  
  }
}

@keyframes rotate240 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(240deg);  
  }
}

@keyframes rotate270 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(270deg);  
  }
}

@keyframes rotate300 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(300deg);  
  }
}

@keyframes rotate330 {
  0%   { 
  	transform: rotate(0);    
  }
  100% { 
  	transform: rotate(330deg);  
  }
}
.trig{
	position: absolute;
	background: red;
	width: 10px;
	height: 10px;
}
.flower_container{
	position:relative;
	margin: 0;
	width:200px;
	height:200px;
	overflow:hidden;
	border: 1px pink solid;
}
.stigma{
	background-color:#ff0;
	border:5px solid #dd0;
	position:absolute;
	z-index:2;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	height:36px;
	width:36px;
	border-radius:36px;
	top:56px;
	left:55px;
}
.petal{
	height:1px;
	width:1px;
	top: 73px;
	left: 72px;
	position:absolute;
	background-color:#fff;
	border:0px solid #dfdfdf;
	-moz-border-radius: 25px / 13px;
	-webkit-border-radius: 25px / 13px;
	border-radius: 25px / 13px;
	z-index:2;
	border-width:2px 0px 0px 2px;	
}
.petal-bloomed{
	height:26px;
	width:50px;
	border-width:0 2px 2px 0px;
	/*animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-play-state: running;*/
}
.flower_container:hover .petal{
	height:35px;
	width:35px;
}
.num_1{
	@extend .petal-bloomed;
	display: block;
	@include bloomedpetal(1);
}
.flower_container:hover .petal.num_1{
	top:20px;
	left:20px;
}
.num_2{
	@extend .petal-bloomed;
	
	@include bloomedpetal(2);
}
.flower_container:hover .petal.num_2{
top:11px;left:45px;
}
.num_3{
	@extend .petal-bloomed;
	
	@include bloomedpetal(3);
}
.flower_container:hover .petal.num_3{
top:20px;left:70px;
}
.num_4{
	@extend .petal-bloomed;
	display: block;
	@include bloomedpetal(4);
}
.flower_container:hover .petal.num_4{
top:45px;left:77px;
}
.num_5{
	@extend .petal-bloomed;
	
	@include bloomedpetal(5);
}
.flower_container:hover .petal.num_5{
top:70px;left:70px;
}
.num_6{
	@extend .petal-bloomed;
	
	@include bloomedpetal(6);
}
.flower_container:hover .petal.num_6{
top:79px;left:45px;
}
.num_7{
	@extend .petal-bloomed;
	
	@include bloomedpetal(7);
}
.flower_container:hover .petal.num_7{
top:70px;left:20px;
}
.num_8{
	@extend .petal-bloomed;
	
	@include bloomedpetal(8);
}
.num_9{
	@extend .petal-bloomed;
	
	@include bloomedpetal(9);
}
.num_10{
	@extend .petal-bloomed;
	
	@include bloomedpetal(10);
}
.num_11{
	@extend .petal-bloomed;
	
	@include bloomedpetal(11);
}
.num_12{
	@extend .petal-bloomed;
	
	@include bloomedpetal(12);
}
.flower_container:hover .petal.num_8{
top:45px;left:13px;
}

.stem{
height:133px;
width:67px;
position:absolute;
top:60px;
left:20px;
z-index:0;
border-radius:0px 100px 100px 0px;
background-color:#090;
z-index:0;
}
.stem_mask{
height:136px;
width:67px;
position:absolute;
top:60px;
left:10px;
z-index:1;
border-radius:0px 80px 80px 0px;
background-color:#00f;
opacity:1;
height:155px;top:50px;
}
.leaf{background-color:#090;position:absolute;height:10px;width:20px;border-radius:20px 0px 20px 0px;z-index:1;}
.leaf_1{top:130px;left:57px;}
.leaf_2{top:114px;left:87px;}
h2.message{font-family:'helvetica';font-size:14px;font-weight:normal;text-align:center;margin-top:20px;}


/*	flower updates	*/
.petal{
transition: all 1s ease-in;
-moz-transition: all 1s ease-in;
-webkit-transition: all 1s ease-in;
-o-transition: all 1s ease-in;
}
.petal.num_1,.petal.num_3,.petal.num_5,.petal.num_7,.petal.num_9,.petal.num_11{background-color:#f3f3f3;}
.flower_container:hover .petal.num_1{top:45px;left:13px;/**/transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);/**/}
.flower_container:hover .petal.num_2{top:20px;left:20px;/**/transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);/**/}
.flower_container:hover .petal.num_3{top:11px;left:45px;/**/transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);/**/}
.flower_container:hover .petal.num_4{top:20px;left:70px;/**/transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);/**/}
.flower_container:hover .petal.num_5{top:45px;left:77px;/**/transform:rotate(135deg);-ms-transform:rotate(135deg);-moz-transform:rotate(135deg);-webkit-transform:rotate(135deg);-o-transform:rotate(135deg);/**/}
.flower_container:hover .petal.num_6{top:70px;left:70px;/**/transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);/**/}
.flower_container:hover .petal.num_7{top:79px;left:45px;/**/transform:rotate(225deg);-ms-transform:rotate(225deg);-moz-transform:rotate(225deg);-webkit-transform:rotate(225deg);-o-transform:rotate(225deg);/**/}
.flower_container:hover .petal.num_8{top:70px;left:20px;/**/transform:rotate(270deg);-ms-transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:rotate(270deg);-o-transform:rotate(270deg);/**/}




