/* Math Mixins */
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}
/* end of math */
/* calculate the bloomed petal position */
@function bloomx($petalnum) {
	$angle: ((($petalnum  - 1) * 30)) * 1deg;
  $x: -25 + 55 + 18 + (43 * cos($angle));
  $xpx: $x * 1px;
  @return $xpx;
}

@function bloomy($petalnum) {
	$angle: ((($petalnum - 1) * 30))  * 1deg; 
  $y: -13+ 56 + 18 - (43 * sin($angle));
  $ypx: $y * 1px;
  @return $ypx;
}

/* calculate the start petal position */
@function startx($petalnum) {
	$angle: ((($petalnum  - 1) * 30)) * 1deg;
  $x: 55 + 18 + (5 * cos($angle));
  $xpx: $x * 1px;
  @return $xpx;
}

@function starty($petalnum) {
	$angle: ((($petalnum - 1) * 30))  * 1deg; 
  $y: + 56 + 18 - (5 * sin($angle));
  $ypx: $y * 1px;
  @return $ypx;
}

// configure the animatin offset
@function animatex($petalnum) {
  @return (bloomx($petalnum) - startx($petalnum));
}

@function animatey($petalnum) {
  @return (bloomy($petalnum) - starty($petalnum));
}
// calculate the rotation
@function petalangle($petalnum){
	$angle: (($petalnum - 1) * 30) * -1deg;
	@return $angle;
}

@mixin bloomedpetal($petalnum){
  left: bloomx($petalnum);
  top: bloomy($petalnum);
	-ms-transform:rotate(petalangle($petalnum));
	-moz-transform:rotate(petalangle($petalnum));
	-webkit-transform:rotate(petalangle($petalnum));
	transform:rotate(petalangle($petalnum));
}

@mixin startpetal($petalnum){
  left: startx($petalnum);
  top: starty($petalnum);
	-ms-transform:rotate(petalangle($petalnum));
	-moz-transform:rotate(petalangle($petalnum));
	-webkit-transform:rotate(petalangle($petalnum));
	transform:rotate(petalangle($petalnum));
	
	-moz-animation-name: blooming#{$petalnum};
	-webkit-animation-name: blooming#{$petalnum};
	animation-name: blooming#{$petalnum};
}

@mixin boominganimation($petalnum){
	@keyframes blooming#{$petalnum} {
		0%   {
			-ms-transform:rotate(petalangle($petalnum));
		  -moz-transform:rotate(petalangle($petalnum));
		  -webkit-transform:rotate(petalangle($petalnum));
		  transform:rotate(petalangle($petalnum));
		}
  	100% {
  		width: 50px; 
  		height: 26px;
  		-ms-transform: translate(animatex($petalnum), animatey($petalnum)) rotate(petalangle($petalnum));
  		-moz-transform: translate(animatex($petalnum), animatey($petalnum)) rotate(petalangle($petalnum));
      -webkit-transform: translate(animatex($petalnum), animatey($petalnum)) rotate(petalangle($petalnum));
      transform: translate(animatex($petalnum), animatey($petalnum)) rotate(petalangle($petalnum));
  	}
  }
}
body {
	padding-top: 90px;
	background-image: url("../images/fsp-home-logo-bg.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
}

//navbar scss
.navbar-fixed-top {
	border-width: 0 0 3px 0;
}
nav.navbar {
	font-size: $font-size-large;
	.navbar-brand {
		padding: $navbar-padding-horizontal/4 $navbar-padding-horizontal;
  	> img {
	  	//max-height: $navbar-height - $navbar-padding-horizontal/2;
	  	height: 62px;
	  	margin-right:  $navbar-padding-horizontal;
		}
	}
	.navbar-toggle {
		background-color: #f8f8f8;
	}
}
.navbar-default {
	@media (min-width: $screen-sm-min){
		background-image: url("../images/clouds-illustration-background-export.jpg");
		background-position: bottom center;
	}
	.navbar-header {
		background-image: url("../images/clouds-illustration-background-export.jpg");
		background-position: bottom center;
		@media (min-width: $screen-sm-min){
			background-image: none;
			background-color: transparent;
		}
	}
}

//main content area
#main-content {
	margin-bottom: $grid-gutter-width;
	position: relative;
}

h1.title {
 color: #0178BC;
}
// rounded image class
.img-round{
	border-radius: $border-radius-large;
	border: 3px solid $extra-color-light;
	display: block;
}

.top-jump {
	font-size: 90%;
	float: right;
}
.media {
	.media-left {
		display: block;
		@media (min-width: $screen-sm-min*0.65) {
			display: table-cell;
		}
		padding-bottom: 10px;
		.media-object {
			@extend .img-round;
			display: block;
			margin: 0 auto;
		}
		
	}
}

//staff picture grid
.fsp-staff {
	margin-top: $grid-gutter-width/2;
	.thumbnail {
		> img {
			@extend .img-round;
			height: 120px;
			@media (min-width: $screen-sm-min*.75){
				height: 200px;
			}
		}
		.caption {
			> h5 {
				text-align: center;
				margin: 0;
			}	
		}
	}
}

@media (min-width: $screen-sm-min) {
	a.phone {
		color: #000;
		text-decoration: none;
		span.glyphicon {
			display: none;
		}
	}
}
		
//home adjustments
body.site-home {
	background-image: url("../images/grass_w_hill.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	background-color: #0178BC;
	.navbar-default{
		background-color: #f8f8f8;
		background-image: none;
		.navbar-header{
			background-color: transparent;
			background-image: none;
		}
	}
	h1.page-title {
		@extend .sr-only;
	}
	.announcement {
		@extend .alert;
		@extend .alert-warning;
		background-color:rgba(252, 248, 227, 0.85);
		position: relative;
		z-index: 1025;
	}
	footer {
		position: relative;
		@media (min-height: 340px) {
			position: fixed;
		}
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1020;
		address {
				text-shadow: -1px -1px 0 #ddd,
					1px -1px 0 #ddd,
					-1px 1px 0 #ddd,
					1px 1px 0 #ddd;  
				margin-bottom: 5px;
				@media (min-height: 340px) {
					margin-bottom: 20px;
				}
		}
	}
}

/*
==============================================
blooming
==============================================
*/

$animation-duration:6s;

.flower_container{
	position:relative;
	margin: 0;
	width:200px;
	height:180px;
	overflow:hidden;
}
.stigma{
	background-color:#ff0;
	border:5px solid #dd0;
	position:absolute;
	z-index:2;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	height:8px;
	width:8px;
	border-radius:36px;
	top:70px; //56 + 14
	left:69px; // 55 + 14
	-webkit-animation-name:growing;
	-webkit-animation-duration:$animation-duration;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	animation-name:growing;
	animation-duration:$animation-duration;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-play-state:running;
}
.petal{
	height:1px;
	width:1px;
	top: 73px;
	left: 72px;
	position:absolute;
	background-color:#fff;
	border:0px solid #dfdfdf;
	-moz-border-radius: 25px / 13px;
	-webkit-border-radius: 25px / 13px;
	border-radius: 25px / 13px;
	z-index:2;
	border-width:2px 0px 0px 2px;	
	-webkit-animation-name:blooming;
	-webkit-animation-duration:$animation-duration;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	animation-name:blooming;
	animation-duration:$animation-duration;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-play-state:running;
}

@include boominganimation(1);
@include boominganimation(2);
@include boominganimation(3);
@include boominganimation(4);
@include boominganimation(5);
@include boominganimation(6);
@include boominganimation(7);
@include boominganimation(8);
@include boominganimation(9);
@include boominganimation(10);
@include boominganimation(11);
@include boominganimation(12);

@keyframes growing {
	0%   {
		width: 8px; 
  	height: 8px;}
  100% {
  	width: 36px; 
  	height: 36px;
  	-ms-transform: translate(-14px, -14px);
  	-moz-transform: translate(-14px, -14px);
  	-webkit-transform: translate(-14px, -14px);
  	transform: translate(-14px, -14px);
  }
}


.petal-bloomed{
	/*height:26px;
	width:50px;
	border-width:0 2px 2px 0px;*/
	
}

.num_1{
	@extend .petal-bloomed;
	
	@include startpetal(1);
}

.num_2{
	@extend .petal-bloomed;
	
	@include startpetal(2);
}

.num_3{
	@extend .petal-bloomed;
	
	@include startpetal(3);
}

.num_4{
	@extend .petal-bloomed;
	
	@include startpetal(4);
}

.num_5{
	@extend .petal-bloomed;
	
	@include startpetal(5);
}

.num_6{
	@extend .petal-bloomed;
	
	@include startpetal(6);
}

.num_7{
	@extend .petal-bloomed;
	
	@include startpetal(7);
}

.num_8{
	@extend .petal-bloomed;
	
	@include startpetal(8);
}
.num_9{
	@extend .petal-bloomed;
	
	@include startpetal(9);
}
.num_10{
	@extend .petal-bloomed;
	
	@include startpetal(10);
}
.num_11{
	@extend .petal-bloomed;
	
	@include startpetal(11);
}
.num_12{
	@extend .petal-bloomed;
	
	@include startpetal(12);
}


.stem{
height:133px;
width:67px;
position:absolute;
top:60px;
left:26px;
z-index:0;
border-radius:0px 100px 100px 0px;
background-color:#090;
z-index:0;
}
.stem_mask{
height:136px;
width:67px;
position:absolute;
top:60px;
left:16px;
z-index:1;
border-radius:0px 80px 80px 0px;
background-color:#00f;
opacity:1;
height:155px;top:50px;
}
.leaf{background-color:#090;position:absolute;height:10px;width:20px;border-radius:20px 0px 20px 0px;z-index:1;}
.leaf_1{top:130px;left:63px;}
.leaf_2{top:114px;left:93px;}
h2.message{font-family:'helvetica';font-size:14px;font-weight:normal;text-align:center;margin-top:20px;}

.petal.num_1,.petal.num_3,.petal.num_5,.petal.num_7,.petal.num_9,.petal.num_11{background-color:#f3f3f3;}



