<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.bodyclass }}">

    {% include nav.html %}

    <div id="main-content" class="container">
    		{% capture site_announcement %}{% include {{ page.announcement }} %}{% endcapture %}
    		{% capture site_announcement %}{{ site_announcement | markdownify }}{% endcapture %}
    		{% if site_announcement.size > 10 %}
        	<div class="announcement">
    		    {{ site_announcement }}
    		    </div>
    		{% endif %}
    		{% include jumpnav.html %}
    		<h1 class="page-title">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
